* {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    text-align: center;
    height: 15px;
}
h4 {
    color: blue;
}
nav ul {
    color: white;
    background-color: blue;
    list-style-type: none;
    text-align: center;
    margin-right: 12.5%;
    margin-left: 12.5%;
    border-radius: 5px;
}
nav ul li {
    font-weight: bold;
    display: inline;
    margin: 5%;
    color: antiquewhite;
    text-align: center;
}

#contenedor{
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
}

#elem1, #elem2, #elem3, #elem4{
    border: double blue;
    text-align: center;
    border-radius: 10px;
}

#elem1 {
    grid-column: 1;
    grid-row: 1/3;
}
#elem2 {
    grid-column: 2;
    grid-row: 1/3;
}
#elem3 {
    grid-column: 3;
    grid-row: 1/4;
}
#elem4 {
    grid-column: 1/3;
    grid-row: 3/3;
    background-color: blue;
    color: white;
}