
body {
    font-family: Arial;
    text-align: center;
}

#caja {
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin: 20px auto;
    padding: 10px;
}

button {
    margin: 5px;
}
