body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: normal;
    color: black;
    background-color: white;
    margin: 0;
}
nav {
    background-color: #84250c;
    color: white;
    display: flex;
    justify-content: flex-end;   
    align-items: center;
    padding: 10px 40px;
    gap: 20px;
}

nav h1 {
    margin-right: auto;
    font-size: 24px;
}


#caja1{
    width: 400px;
    margin: 10px 10px 10px 10px;
    border:solid black;
    border-radius: 5%;
    padding: 15px 20px;
    float: left;
  
}

#caja2{
    width: 260px;
    margin: 20px 40px 10px 10px;
    border: 1px solid black;
    border-radius: 5%;
    padding: 15px 20px;
    float: left;
    font-size: small;
}

footer {
  background: #84250c;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  clear: both;
}