
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background: linear-gradient(135deg, #3a5a40, #588157);
  color: #fefefe;
  padding: 1rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 40px; 
  background-color: white; 
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  color: #022405;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #d9d61f;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: rgb(200, 222, 216);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
}

form p {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
  background: rgb(237, 227, 227); 
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}
button {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #219150;
}

#ubicacion iframe {
  border: 2px solid #ccc;
  border-radius: 8px;
}

footer {
  background-color: #3a5a40;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 30px;
}

footer a {
  color: #d9ed92;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
