@font-face {
    font-family: fuenteguay;
    src: url(../Fonts/BitcountGridSingle-ExtraLight.ttf);
}
header{
    background-color: rgb(241, 138, 42);
}
h1{
    font-size: 22pt;
    text-shadow: 5px 3px 1px rgb(229, 107, 240);
}
p{
    font-family: fuenteguay;
    font-size: 16pt;
    font-weight: 900;
    font-style: italic;
    text-transform: capitalize;
    text-decoration: underline;

}