h1 {
    background-color: rgb(209, 223, 21);
    color: blue;
    height: 50px;

}

#contenedor{
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;
    background-color: rgb(155, 5, 5);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 50px;
    gap: 10px;
}

#elem1, #elem2, #elem3, #elem4{
    color:rgb(184, 101, 7);
    background-color: lightgray;
    border: solid 2px rgb(105, 46, 241);
}

#elem1 {
    grid-column: 1;
    grid-row: 1/3;
}
#elem2 {
    grid-row: 1;
    grid-column: 2/4;
}