body {
    text-align: center;
    font-family: Arial;
}

#semaforo {
    width: 120px;
    padding: 15px;
    border: 2px solid black;
    margin: 20px auto;
}

.luz {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: gray;
    margin: 10px auto;
}

button {
    margin: 5px;
}