.suspenso {
color: red;
font-weight: bold;
    }
.aprobado {
color: green;
font-weight: bold;
    }
.notable {
color: blue;
font-weight: bold;
    }
.sobresaliente {
color: purple;
font-weight: bold;
    }
.error {
color: darkred;
    }