.valido{
    color:green;
    font-weight: bold;
}

.no_valido{
    color:red;
    font-weight: bold;
}

.no_numero{
    color:orange;
    font-weight: bold;
}

.error {
    color: purple;
}
#contador {
    font-weight: bold;
}
    .rojo {
    color: red;
}
    .normal {
    color: black;
}
.oscuro {
    color: white;
    background-color: darkblue;
}
